<div class="d-flex">
  <div class="sidebar">
    <div class="p-3">
      <%= simple_form_for @list do |f| %>
        <%= f.input :name, input_html: { placeholder: 'List name' } %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>

      <ul class="mt-3">
        <%= link_to 'All movies', root_path %>
        <%= render @lists %>

      </ul>

    </div>
  </div>

  <div>
    <h1><%= @the_list.name %></h1>

    <button id="add_delete" form="delete-bookmark" type="submit" name="list_id" value="<%= @the_list.id %>">Delete selected</button>
    <form id="delete-bookmark" action="<%= bookmarks_create_path %>">
      <div class="row">
        <%= render @movies %>

      </div>
    </form>
  </div>
</div>
